<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1>Congratulations on starting a new project called <%- verb %>-<%- adjective %>-<%- noun %>!</h1>
  </body>
</html>
